<div id="footer" class="container-fluid">
  <div class="col-xs-12">
    <div class="container">
      <ul id="links">
        <li>
          <a id="link-github" href="http://github.com/{{ site.github_username }}" target="_blank">
              <span class="sr-only">github</span>
          </a>
        </li>
      </ul>
      <ul id="footer-menu">
        <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
      </ul>
      <ul id="footer-menu">
          <p id="copyright">
              MOon Lap Blog @ 2018
          </p>
      </ul>
      
    </div>
  </div>
</div><!--#footer-->
