<div id="header">
    <a id="logo" href="{{ site.baseurl }}/">
      <span class="sr-only">{{ site.title }}</span>
    </a>

    <ul id="menu" class="nav">
      <li class="{% if page.url == '/tags/blog/' %} active {% endif %}"><a href="{{ base_path }}/tags/blog/">블로그</a></li>
      <li class="{% if page.url == '/tags/portpolio/' %} active {% endif %}"><a href="{{ base_path }}/tags/portpolio">포트폴리오</a></li>
    </ul>
  <!--
    <nav class="site-nav">
      <div class="trigger">
        {% for my_page in site.pages %}
          {% if my_page.title %}
          <a class="page-link" href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a>
          {% endif %}
        {% endfor %}
      </div>
    </nav>
  -->
</div>